<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org">



    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Spring Software Architecture</title>
        <link href="css/styles.css" rel="stylesheet" />
        <!-- Bootstrap core CSS-->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body id="page_top">
            <div id="content_wrapper">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-success o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fa fa-fw fa-shopping-cart"></i>
                                        </div>
                                        <div class="mr-5">123 New Orders!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-info  o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fa fa-fw fa-dollar"></i>
                                        </div>
                                        <div class="mr-5">$45000.00 Revenue this Month</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-primary o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fa fa-fw fa-ship"></i>
                                        </div>
                                        <div class="mr-5">100 Order Shipped</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-danger o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fa fa-fw fa-support"></i>
                                        </div>
                                        <div class="mr-5">13 Returns Initiated</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Example Bar Chart Card-->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-bar-chart"></i> Company Revenue
                                    </div>
                                    <input type="hidden" th:id="crLabels"  th:value="${cr.crLabels}" />
                                    <input type="hidden" th:id="crRevenue"  th:value="${cr.crRevenue}"/>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-8 my-auto">
                                                <canvas id="myBarChart" width="100" height="50"></canvas>
                                            </div>
                                            <div class="col-sm-4 text-center my-auto">
                                                <div class="h4 mb-0 text-primary" th:text="${cr.totalRevenue}" >$</div>
                                                <div class="small text-muted">YTD Revenue</div>
                                                <hr>
                                                <div class="h4 mb-0 text-warning" th:text="${cr.totalExpense}">$</div>
                                                <div class="small text-muted">YTD Expenses</div>
                                                <hr>
                                                <div class="h4 mb-0 text-success" th:text="${cr.totalMargin}">$</div>
                                                <div class="small text-muted">YTD Margin</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <!-- Example Pie Chart Card-->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-pie-chart"></i> Best Seller Category
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myPieChart" width="100%" height="70"></canvas>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                                <!-- Example Notifications Card-->

                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="emp : ${ei}" >
                                                <td th:text="${emp._name}" ></td>
                                                <td th:text="${emp.position}" ></td>
                                                <td th:text="${emp.officeLocation}" ></td>
                                                <td th:text="${emp.age}" ></td>
                                                <td th:text="${emp.startDate}" ></td>
                                                <td th:text="${emp.salary}" ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>

                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
            <script src="assets/demo/chart-pie-demo.js"></script>
    </body>
</html>
